meta(property='og:description', content='Teddit-Reworked is a free and open source alternative Reddit front-end focused on privacy. Teddit-Reworked doesn\'t require you to have JavaScript enabled in your browser.')
